<div nz-row>
  <div nz-col nzSpan="6" nzOffset="9">
    <nz-card [nzCover]="signInCover">
      <form nz-form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your valid email!">
            <nz-input-group nzPrefixIcon="user">
              <input
                type="text"
                nz-input
                formControlName="email"
                placeholder="Email"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="Password"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-radio-group formControlName="type">
              <label nz-radio nzValue="customer">Customer</label>
              <label nz-radio nzValue="provider">Provider</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <a class="login-form-forgot" class="login-form-forgot"
              >Forgot password</a
            >
            <button
              nz-button
              class="login-form-button"
              [nzType]="'primary'"
              [nzLoading]="signinFetching"
            >
              Log in
            </button>
            Or
            <a [routerLink]="['/register']" target="_blank">register now!</a>
          </nz-form-control>
        </nz-form-item>
        <nz-alert
          *ngIf="errorMessage"
          nzType="error"
          [nzMessage]="errorMessage"
        ></nz-alert>
      </form>
    </nz-card>
    <ng-template #signInCover>
      <img src="../../../assets/images/banner.png" />
    </ng-template>
  </div>
</div>
