<ngx-spinner></ngx-spinner>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-select
      style="width:100%;"
      [nzShowSearch]="true"
      nzAllowClear
      nzPlaceHolder="Search provider..."
      [(ngModel)]="selectedProvider"
      (ngModelChange)="onSelectProvider($event)"
    >
      <nz-option
        *ngFor="let provider of providers"
        [nzLabel]="provider.firstName + ' ' + provider.lastName"
        [nzValue]="provider._id"
      ></nz-option>
    </nz-select>
  </div>
</div>
<span>Selected value: {{ selectedProvider }}</span>

<!-- <div nz-row style="margin-top: 10px;">
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td>
            <a>Action 一 {{ data.name }}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div> -->
